## 二丶 EDA-数据探索性分析

## 2.1 EDA目标

* EDA的价值主要在于熟悉数据集，了解数据集，对数据集进行验证来确定所获得数据集可以用于接下来的机器学习或者深度学习使用。

* 当了解了数据集之后我们下一步就是要去了解变量间的相互关系以及变量与预测值之间的存在关系。

* 引导数据科学从业者进行数据处理以及特征工程的步骤,使数据集的结构和特征集让接下来的预测问题更加可靠。

* 完成对于数据的探索性分析，并对于数据进行一些图表或者文字总结并打卡。

In [1]:
import pandas as pd
import numpy as np

path = '/Users/ousei/Documents/数据分析/study/data/'

#载入数据集
Train_data = pd.read_csv(path+'car_train_0110.csv',sep=' ')
Test_data = pd.read_csv(path+'car_testA_0110.csv',sep=' ')

In [2]:
Train_data.head()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,...,v_14,v_15,v_16,v_17,v_18,v_19,v_20,v_21,v_22,v_23
0,134890,734,20160002,13.0,9,NaN,0.0,1.0,0,15.0,...,0.092139,0.000000,18.763832,-1.512063,-1.008718,-12.100623,-0.947052,9.077297,0.581214,3.945923
1,306648,196973,20080307,72.0,9,7.0,5.0,1.0,173,15.0,...,0.001070,0.122335,-5.685612,-0.489963,-2.223693,-0.226865,-0.658246,-3.949621,4.593618,-1.145653
2,340675,25347,20020312,18.0,12,3.0,0.0,1.0,50,12.5,...,0.064410,0.003345,-3.295700,1.816499,3.554439,-0.683675,0.971495,2.625318,-0.851922,-1.246135
3,57332,5382,20000611,38.0,8,7.0,0.0,1.0,54,15.0,...,0.069231,0.000000,-3.405521,1.497826,4.782636,0.039101,1.227646,3.040629,-0.801854,-1.251894
4,265235,173174,20030109,87.0,0,5.0,5.0,1.0,131,3.0,...,0.000099,0.001655,-4.475429,0.124138,1.364567,-0.319848,-1.131568,-3.303424,-1.998466,-1.279368

In [3]:
Train_data.tail()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,...,v_14,v_15,v_16,v_17,v_18,v_19,v_20,v_21,v_22,v_23
249995,10556,9332,20170003,13.0,9,NaN,NaN,1.0,58,15.0,...,0.079119,0.001447,11.782508,20.402576,-2.722772,0.462388,-4.429385,7.883413,0.698405,-1.082013
249996,146710,102110,20030511,29.0,17,3.0,0.0,0.0,61,15.0,...,0.000000,0.002342,-2.988272,1.500532,3.502201,-0.761715,-2.484556,-2.532968,-0.940266,-1.106426
249997,116066,82802,20130312,124.0,16,6.0,0.0,1.0,122,3.0,...,0.003358,0.100760,-6.939560,-1.144959,-5.337949,0.896026,-0.592565,-3.872725,2.135984,3.807554
249998,90082,65971,20121212,111.0,4,7.0,5.0,0.0,184,9.0,...,0.002974,0.008251,-7.222167,-1.383696,-5.402794,-0.409451,-1.891556,-3.104789,-3.777374,3.186218
249999,76453,56954,20051111,13.0,9,3.0,0.0,1.0,58,12.5,...,0.000000,0.009071,10.491312,-11.270043,-0.272595,-0.026478,-2.168249,-0.980042,-0.955164,-1.169593

In [4]:
Train_data.shape

(250000, 40)

In [5]:
Test_data.head()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,...,v_14,v_15,v_16,v_17,v_18,v_19,v_20,v_21,v_22,v_23
0,720326,505,20060505,19.0,13,7.0,0.0,1.0,90,8.0,...,0.083340,0.105382,-5.998993,0.147048,-1.902847,0.348990,2.324961,3.343910,4.048742,-1.431822
1,714316,1836,20010301,5.0,5,3.0,4.0,1.0,75,15.0,...,0.074478,0.000000,-3.287221,2.081317,2.937052,-0.123018,1.202395,3.570743,-1.180587,-1.348598
2,704693,212291,20170610,6.0,18,NaN,5.0,0.0,150,15.0,...,0.002032,0.000000,4.368218,8.252188,-4.136109,-13.334970,-4.444620,-0.706978,-1.720218,3.569112
3,624972,1345,19820005,215.0,32,7.0,0.0,1.0,0,6.0,...,0.098806,0.100883,-2.537486,0.513955,4.414962,0.357685,2.700732,5.323602,6.085956,-0.900585
4,669753,1428,20060205,30.0,4,7.0,5.0,1.0,122,15.0,...,0.088397,0.002509,-6.197633,-0.191814,-1.224360,-0.326985,2.254931,4.183037,-2.574004,0.014203

In [6]:
Test_data.shape

(50000, 39)

要养成看数据集head()以及shape的习惯

## 总览数据概况

使用describe和info方法

1. describe 每列的统计量，个数count、平均值mean、方差std、最小值min、中位数25% 50% 75% 、以及最大值 看这个信息主要是瞬间掌握数据的大概的范围以及每个值的异常值的判断，比如有的时候会发现9999999 -1 等值这些其实都是nan的另外一种表达方式，有的时候需要注意
2. info 通过info来了解数据每列的type，有助于了解是否存在除了nan以外的特殊符号异常

In [7]:
#通过describe()来熟悉数据的相关统计量
Train_data.describe()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,...,v_14,v_15,v_16,v_17,v_18,v_19,v_20,v_21,v_22,v_23
count,250000.000000,250000.000000,2.500000e+05,250000.000000,250000.000000,224620.000000,227510.000000,236487.000000,250000.000000,250000.000000,...,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000
mean,185351.790768,83153.362172,2.003401e+07,44.911480,7.785236,4.563271,1.665008,0.780783,115.528412,12.577418,...,0.032489,0.030408,0.014725,0.000915,0.006273,0.006604,-0.001374,0.000609,-0.004025,0.001834
std,107121.188763,72540.799964,7.770250e+04,50.640081,7.694010,1.912515,2.339646,0.413717,196.141828,3.990632,...,0.038792,0.049333,8.779163,5.771081,4.880981,4.124722,3.803626,3.555353,2.864713,2.323680
min,1.000000,0.000000,1.910000e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,...,0.000000,0.000000,-10.412444,-15.538236,-21.009214,-13.989955,-9.599285,-11.181255,-7.671327,-2.350888
25%,92501.750000,14500.000000,1.999061e+07,6.000000,1.000000,3.000000,0.000000,1.000000,70.000000,12.500000,...,0.000129,0.000000,-5.552269,-0.901181,-3.150385,-0.478173,-1.727237,-3.067073,-2.092178,-1.402804
50%,185264.500000,65314.500000,2.003111e+07,27.000000,6.000000,4.000000,0.000000,1.000000,105.000000,15.000000,...,0.001961,0.002567,-3.821770,0.223181,-0.058502,0.038427,-0.995044,-0.880587,-1.199807,-1.145588
75%,278128.500000,143761.250000,2.008081e+07,70.000000,11.000000,7.000000,5.000000,1.000000,150.000000,15.000000,...,0.075672,0.056568,3.599747,1.263737,2.800475,0.569198,1.563382,3.269987,2.737614,0.044865
max,370946.000000,233044.000000,2.019121e+07,250.000000,39.000000,7.000000,6.000000,1.000000,20000.000000,15.000000,...,0.130785,0.184340,36.756878,26.134561,23.055660,16.576027,20.324572,14.039422,8.764597,8.574730

In [8]:
#通过info()来熟悉数据类型
Train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 40 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   SaleID             250000 non-null  int64
 1   name               250000 non-null  int64
 2   regDate            250000 non-null  int64
 3   model              250000 non-null  float64
 4   brand              250000 non-null  int64
 5   bodyType           224620 non-null  float64
 6   fuelType           227510 non-null  float64
 7   gearbox            236487 non-null  float64
 8   power              250000 non-null  int64
 9   kilometer          250000 non-null  float64
 10  notRepairedDamage  201464 non-null  float64
 11  regionCode         250000 non-null  int64
 12  seller             250000 non-null  int64
 13  offerType          250000 non-null  int64
 14  creatDate          250000 non-null  int64
 15  price              250000 non-null  int64
 16  v_0                250000 non-null  float64
 17  v_1                250000 non-null  float64
 18  v_2                250000 non-null  float64
 19  v_3                250000 non-null  float64
 20  v_4                250000 non-null  float64
 21  v_5                250000 non-null  float64
 22  v_6                250000 non-null  float64
 23  v_7                250000 non-null  float64
 24  v_8                250000 non-null  float64
 25  v_9                250000 non-null  float64
 26  v_10               250000 non-null  float64
 27  v_11               250000 non-null  float64
 28  v_12               250000 non-null  float64
 29  v_13               250000 non-null  float64
 30  v_14               250000 non-null  float64
 31  v_15               250000 non-null  float64
 32  v_16               250000 non-null  float64
 33  v_17               250000 non-null  float64
 34  v_18               250000 non-null  float64
 35  v_19               250000 non-null  float64
 36  v_20               250000 non-null  float64
 37  v_21               250000 non-null  float64
 38  v_22               250000 non-null  float64
 39  v_23               250000 non-null  float64
dtypes: float64(30), int64(10)
memory usage: 76.3 MB

## 判断数据缺失和异常